.weightTitle{
    margin-left: 10px;
    font-size: larger;
}

.weightLength{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: aquamarine;
}
.weightClear{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background-color: lightcoral;
}
.buttonShowWeightKey {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: bisque;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon{
    margin-left: 40%;
}
.textSize{
    font-size: xx-large;
}
.width {
    width: 400px;
}
.inputWeight {
    margin-left: 10px;
    width: 100%;
}
.margin {
    margin-left: 30px;
}
.expansion{
    background-color: lightgray;
}