.text{
    color: white;
    font-size: xx-large;

}
.card {
    width: 'fit-content'; 
    height: 'fit-content';
    border-style: solid;
    border: 2px;
    border-color: black;
    margin-left: 20px;
}