.text{
    font-size: xx-large;

}
.card {
    width: 'fit-content'; 
    height: 'fit-content';
    border-style: solid;
    border: 2px;
    border-color: black;
    margin-left: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.backgroundBusiness{
    background-color: rgb(100 116 139);
    color: white;
}
.backgroundLight{
    background-color: lightskyblue;
    color: black;
}
.backgroundDark {
    background-color: darkblue;
    color: white;
}