<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div>
    <mat-accordion>
        <mat-expansion-panel (opened)="forcePanelState = true" (closed)="forcePanelState = false"
        [class.expansionBusiness]="themeName === 'business'"
        [class.expansionLight]="themeName === 'light'"
        [class.expansionDark]="themeName === 'dark'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        Force-converter
                    </strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong>
                        Currently I am {{forcePanelState ? 'open' : 'closed'}}
                    </strong>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container">
                <div class="width">
                    <div class="inputForce">
                        <label><strong> First unit of force: </strong></label>
                    </div>
                    <div class="inputForce">
                        <select class="w-full inputBorder" name="fromQuantity" id="fromQuantity" [(ngModel)]="firstSystem">
                            <option value="Newtons">Newtons</option>
                            <option value="Kilonewtons">Kilonewtons</option>
                            <option value="Gram-force">Gram-force</option>
                            <option value="Kilogram-force">Kilogram-force</option>
                        </select>
                    </div>
                    <div class="inputForce">
                        <label><strong> Second unit of force: </strong></label>
                    </div>
                    <div class="inputForce">
                        <select class="w-full inputBorder" name="toQuantity" id="toQuantity" [(ngModel)]="secondSystem">
                            <option value="Newtons">Newtons</option>
                            <option value="Kilonewtons">Kilonewtons</option>
                            <option value="Gram-force">Gram-force</option>
                            <option value="Kilogram-force">Kilogram-force</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class="inputForce">
                            <label><strong>Force</strong></label>
                        </div>
                        <div class="inputForce">
                            <input class="w-full inputBorder" [(ngModel)]="firstValue">
                        </div>
                        <div class="inputForce">
                            <strong>{{firstSystem}}</strong>
                        </div>
                    </div>
                    <div>
                        <div class="inputForce">
                            <label><strong>Force</strong></label>
                        </div>
                        <div class="inputForce">
                            <input class="w-full inputBorder" readonly [(ngModel)]="secondValue">
                        </div>
                        <div class="inputForce">
                            <strong>{{secondSystem}}</strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="inputForce">
                            <label><strong>Conversion rate: </strong></label>
                        </div>
                        <div class="inputForce">
                            <input class="w-full inputBorder" readonly [(ngModel)]="displayConversionRate">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>
                            <button (click)="forceConversion()"
                            [class.buttonForceBusiness]="themeName === 'business'"
                            [class.buttonForceLight]="themeName === 'light'"
                            [class.buttonForceDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>Go</strong>
                            </button>
                            <button (click)="clearForceClicked()"
                            [class.buttonClearBusiness]="themeName === 'business'"
                            [class.buttonClearLight]="themeName === 'light'"
                            [class.buttonClearDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>Clear</strong>
                            </button>
                        </span>
                    </div>
                    <br>
                    <br>
                    <div *ngIf="showForceKey">
                        <div class="margin">
                            <span class="icon">
                                <app-icon-displayer></app-icon-displayer>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>