.lengthTitle{
    margin-left: 10px;
    font-size: larger;
}

.buttonLength{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: aquamarine;
}
.buttonLengthClear{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background-color: lightcoral;
}
.buttonShowLengthKey {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: bisque;
}
.flex-container {
    display: flex;
}
.inputLength {
    margin-left: 10px;
    width: 100%;
}
.icon{
    margin-left: 40px;
}
.textSize{
    font-size: xx-large;
}
.width{
    width: 400px;
}
.margin{
    margin-left: 40px;
}