.powerTitle{
    margin-left: 10px;
    font-size: larger;
}

.buttonPowerBusiness{
    color: black;
    background-color: aquamarine;
}
.buttonPowerLight{
    color: black;
    background-color: lightgreen
}
.buttonPowerDark{
    color: black;
    background-color: aquamarine;
}
.buttonPowerClearBusiness{
    color: white;
    background-color: red;
}
.buttonPowerClearLight{
    color: black;
    background-color: lightcoral;
}
.buttonPowerClearDark{
    color: white;
    background-color: maroon;
}
.buttonShowPowerKey {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: bisque;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icon {
    margin-left: 40%;
}
.mat-slider{
    width: 98%;
    color: white !important;
}
.textSize{
    font-size: xx-large;
}
.width {
    width: 400px;
}
.inputPower {
    margin-left: 10px;
    width: 100%;
}
.margin {
    margin-left: 30px;
}
.expansionBusiness{
    background-color: rgb(100 116 139);
    color: white;
}
.expansionLight{
    background-color: lightskyblue;
}
.expansionDark{
    background-color: darkblue;
    color: white;
}
.inputBorder{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    color: black;
}
.mat-mdc-slider.mat-primary {
    --mdc-slider-handle-color: white;
    --mdc-slider-focus-handle-color: white;
    width: 98%;
}