<!-- <div class="bg-slate-500 py-3">
  <div class="flex-container">
    <span class="currencyTitle">
      <br>
      <h1 class="text-white textSize px-2">
        Currency Converter
        <i class="fa-solid fa-coins"></i>
      </h1>
    </span>
  </div>
</div> -->
<app-title-banner [titleString]="title" [iconName]="currency"></app-title-banner>
<br>
<div>
  <mat-accordion>
    <mat-expansion-panel class="expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>
            Currency
          </strong>
        </mat-panel-title>
        <mat-panel-description>
          <strong>
            Currently I am {{currencyPanelState ? 'open' : 'closed'}}
          </strong>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>

        <div class="flex-container">
          <div class="inputCurrency">
            <i [class]="currency"></i>
            <strong> : </strong>
            <input [(ngModel)]="sterlingValue"/>
          </div>
          <span class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <div class="inputCurrency2">
            <i [class]="currency"></i>
            <strong> : </strong>
            <input readonly [value]="exchangedValue" />
          </div>
        </div>
        <br>
        <div class="flex-container">
          <button class="buttonCurrency" (click)="dollarExchange()" title="US Dollar">
            <i class="fa-solid fa-dollar-sign iconSize"></i>
          </button>
        
          <button class="buttonCurrency" (click)="euroExchange()" title="Euros">
            <i class="fa-solid fa-euro-sign iconSize"></i>
          </button>
        
          <button class="buttonCurrency" (click)="yenExchange()" title="Yen ">
            <i class="fa-solid fa-yen-sign iconSize"></i>
          </button>
        </div>
        <br>
        <div class="flex-container">
          <button class="buttonCurrency" (click)="wonExchange()" title="Won">
            <i class="fa-solid fa-won-sign iconSize"></i>
          </button>
        
          <button class="buttonCurrency" (click)="pesoExchange()" title="Pesos">
            <i class="fa-solid fa-peso-sign iconSize"></i>
          </button>
        
          <button class="buttonClear" (click)="clearExchange()" title="Clear">
            <strong>
              Clear
            </strong>
          </button>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>



