<!-- <div class="bg-slate-500 py-3">
  <div class="flex-container">
    <span class="currencyTitle">
      <br>
      <h1 class="text-white textSize px-2">
        Currency Converter
        <i class="fa-solid fa-coins"></i>
      </h1>
    </span>
  </div>
</div> -->
<app-title-banner [titleString]="title" [iconName]="currency"></app-title-banner>
<br>
<div>
  <mat-accordion>
    <mat-expansion-panel [class.expansionBusiness]="themeName === 'business'"
    [class.expansionLight]="themeName === 'light'"
    [class.expansionDark]="themeName === 'dark'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong>
            Currency
          </strong>
        </mat-panel-title>
        <mat-panel-description>
          <strong>
            Currently I am {{currencyPanelState ? 'open' : 'closed'}}
          </strong>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>

        <div class="flex-container">
          <div class="inputCurrency">
            <i [class]="currency"></i>
            <strong> : </strong>
            <input [(ngModel)]="sterlingValue" class="input"/>
          </div>
          <span class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <div class="inputCurrency2">
            <i [class]="currency"></i>
            <strong> : </strong>
            <input readonly [value]="exchangedValue" class="input"/>
          </div>
        </div>
        <br>
        <div class="flex-container">
          <button (click)="dollarExchange()" title="US Dollar"
          [class.buttonCurrencyBusiness]="themeName === 'business'"
          [class.buttonCurrencyLight]="themeName === 'light'"
          [class.buttonCurrencyDark]="themeName === 'dark'">
            <i class="fa-solid fa-dollar-sign iconSize"></i>
          </button>
        
          <button (click)="euroExchange()" title="Euros"
          [class.buttonCurrencyBusiness]="themeName === 'business'"
          [class.buttonCurrencyLight]="themeName === 'light'"
          [class.buttonCurrencyDark]="themeName === 'dark'">
            <i class="fa-solid fa-euro-sign iconSize"></i>
          </button>
        
          <button (click)="yenExchange()" title="Yen"
          [class.buttonCurrencyBusiness]="themeName === 'business'"
          [class.buttonCurrencyLight]="themeName === 'light'"
          [class.buttonCurrencyDark]="themeName === 'dark'">
            <i class="fa-solid fa-yen-sign iconSize"></i>
          </button>
        </div>
        <br>
        <div class="flex-container">
          <button (click)="wonExchange()" title="Won"
          [class.buttonCurrencyBusiness]="themeName === 'business'"
          [class.buttonCurrencyLight]="themeName === 'light'"
          [class.buttonCurrencyDark]="themeName === 'dark'">
            <i class="fa-solid fa-won-sign iconSize"></i>
          </button>
        
          <button (click)="pesoExchange()" title="Pesos"
          [class.buttonCurrencyBusiness]="themeName === 'business'"
          [class.buttonCurrencyLight]="themeName === 'light'"
          [class.buttonCurrencyDark]="themeName === 'dark'">
            <i class="fa-solid fa-peso-sign iconSize"></i>
          </button>
        
          <button (click)="clearExchange()" title="Clear"
          [class.buttonClearBusiness]="themeName === 'business'"
          [class.buttonClearLight]="themeName === 'light'"
          [class.buttonClearDark]="themeName === 'dark'">
            <strong>
              Clear
            </strong>
          </button>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>



