.buttonCurrencyBusiness{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: rgb(203 213 225);
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.buttonCurrencyLight{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: lightblue;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.buttonCurrencyDark{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: darkcyan;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.buttonClearBusiness{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: red;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.buttonClearLight{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: lightcoral;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.buttonClearDark{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: maroon;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.input{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.currencyTitle{
    margin-left: 10px;
    font-size: larger;
}
.inputCurrency2{
    margin-left: 15%;
}
.iconSize{
    font-size: x-large;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textSize{
    font-size: xx-large;
}
.arrow{
    margin-left: 20px;
}

.expansionBusiness{
    background-color: rgb(100 116 139);
    color: white;
}
.expansionLight{
    background-color: lightskyblue;
}
.expansionDark{
    background-color: darkblue;
    color: white;
}