<div [class.bannerBusiness]="themeName === 'business'"
    [class.bannerLight]="themeName === 'light'"
    [class.bannerDark]="themeName === 'dark'">
    <div class="flex-container">
      <span class="title">
        <br>
        <h1 class="titleString">
            {{titleString}}
            <span *ngIf="iconName">
                <i [class]="iconName"></i>
            </span>
              
        </h1>
      </span>
      <app-current-time></app-current-time>
      <app-shared-date></app-shared-date>
    </div>
</div>