<mat-card class="card">
    <mat-card-content>
        <div>
            <span>
                <h3><strong>{{data.converterType}} <i [class]="data.iconString ? data.iconString : 'fa-solid fa-face-smile'" ></i></strong> <span class="right"><i class="fa-solid fa-xmark" mat-dialog-close></i></span></h3>
            </span>
        </div>
        <div>
            <strong>
                {{data.message}}
            </strong>
        </div>
        <br>
        <div>
            <span>
                <button class="buttonClear" mat-dialog-close (click)="confirmationNo()"><strong>No</strong></button>
                <button class="buttonGo" (click)="confirmationYes()"><strong>Yes</strong></button>
            </span>
        </div>
    </mat-card-content>
</mat-card>
