.displayBox {
    border-width: 3px;
    border-radius: 5%;
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    width: 350px;
    margin-left: 180px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;

}