<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div>

    <mat-accordion>
        <mat-expansion-panel (opened)="soundPanelSate = true" (closed)="soundPanelSate = false"
        [class.expansionBusiness]="themeName === 'business'"
        [class.expansionLight]="themeName === 'light'"
        [class.expansionDark]="themeName === 'dark'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        Sound-converter
                    </strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong>
                        Currently I am {{soundPanelSate ? 'open' : 'closed'}}
                    </strong>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container">
                <div class="width">
                    <div class="inputSound">
                        <label><strong> First unit of sound: </strong></label>
                    </div>
                    <div class="inputSound">
                        <select class="w-full inputBorder" name="fromQuantity" id="fromQuantity" [(ngModel)]="firstSystem">
                            <option value="Bel">Bel</option>
                            <option value="Decibel">Decibel</option>
                            <option value="Neper">Neper</option>
                        </select>
                    </div>
                    <div class="inputSound">
                        <label><strong> Second unit of sound: </strong></label>
                    </div>
                    <div class="inputSound">
                        <select class="w-full inputBorder" name="toQuantity" id="toQuantity" [(ngModel)]="secondSystem">
                            <option value="Bel">Bel</option>
                            <option value="Decibel">Decibel</option>
                            <option value="Neper">Neper</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class="inputSound">
                            <label><strong>Sound</strong></label>
                        </div>
                        <div class="inputSound">
                            <input class="w-full inputBorder" [(ngModel)]="firstValue">
                        </div>
                        <div class="inputSound">
                            <strong>{{firstSystem}}</strong>
                        </div>
                    </div>
                    <div>
                        <div class="inputSound">
                            <label><strong>Sound</strong></label>
                        </div>
                        <div class="inputSound">
                            <input class="w-full inputBorder" readonly [(ngModel)]="secondValue">
                        </div>
                        <div class="inputSound">
                            <strong>{{secondSystem}}</strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="inputSound">
                            <label><strong>Conversion rate: </strong></label>
                        </div>
                        <div class="inputSound">
                            <input class="w-full inputBorder" readonly [(ngModel)]="displayConversionRate">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>
                            <button (click)="soundConversion()"
                            [class.buttonSoundBusiness]="themeName === 'business'"
                            [class.buttonSoundLight]="themeName === 'light'"
                            [class.buttonSoundDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>
                                    Go
                                </strong>
                            </button>
                            <button (click)="soundConversion()"
                            [class.buttonClearBusiness]="themeName === 'business'"
                            [class.buttonClearLight]="themeName === 'light'"
                            [class.buttonClearDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>
                                    Clear
                                </strong>
                            </button>
                        </span>
                    </div>
                    <br>
                    <div *ngIf="showSoundKey">
                        <div class="margin">
                            <span class="icon">
                                <app-icon-displayer [iconArray]="displayIcon" [iconName]="iconName" [iconValue]="iconValue" [iconUnit]="iconUnit" [iconFirstAddition]="iconFirstAddition"></app-icon-displayer>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>