<!-- <div class="bg-slate-500 py-3">
    <div class="flex-container">
        <span class="titlePosition">
            <br>
            <h1 class="text-white textSize px-2">Date & Time <i class="fa-regular fa-calendar-days"></i>  <i class="fa-regular fa-clock"></i></h1>
        </span>
    </div>
</div> -->
<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div>

    <mat-accordion>
        <mat-expansion-panel (opened)="datePanelState = true" (closed)="datePanelState = false"
        [class.expansionBusiness]="themeName === 'business'"
        [class.expansionLight]="themeName === 'light'"
        [class.expansionDark]="themeName === 'dark'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        Date & Time
                    </strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong>
                        Currently I am {{datePanelState ? 'open' : 'closed'}}
                    </strong>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container">
                <div class="width">
                    <div class="inputDateTime">
                        <strong >
                            GMT:    
                        </strong>
                        <div>
                            <input class="w-full inputBorder" readonly [(ngModel)]="dateGMT">
                        </div>
                    </div>
                    <br>
                    <div class="inputDateTime">
                        <strong>
                            New York:    
                        </strong>
                        <div>
                            <input class="w-full inputBorder" readonly [(ngModel)]="dateEST">
                        </div>
                    </div>
                    <div class="inputDateTime">
                        <strong>
                            India:    
                        </strong>
                        <div>
                            <input class="w-full inputBorder" readonly [(ngModel)]="dateIST">
                        </div>
                    </div>
                    <div class="inputDateTime">
                        <strong>
                            Japan:    
                        </strong>
                        <div>
                            <input class="w-full inputBorder" readonly [(ngModel)]="dateJST">
                        </div>
                    </div>
                    <div class="inputDateTime">
                        <strong>
                            Moscow:    
                        </strong>
                        <div>
                            <input class="w-full inputBorder" readonly [(ngModel)]="dateMSK">
                        </div>
                    </div>
                </div>
                <div>
                    <span>
                        <button (click)="getAllTimes()"
                        [class.dateTimeButtonBusiness]="themeName === 'business'"
                        [class.dateTimeButtonLight]="themeName === 'light'"
                        [class.dateTimeButtonDark]="themeName === 'dark'"
                        [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                            <strong>Get Times</strong>
                        </button>
                        <button (click)="clearAllTimes()"
                        [class.dateTimeButtonClearBusiness]="themeName === 'business'"
                        [class.dateTimeButtonClearLight]="themeName === 'light'"
                        [class.dateTimeButtonClearDark]="themeName === 'dark'"
                        [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'" >
                            <strong>Clear Times</strong>
                        </button>
                    </span>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    

</div>

