<!-- <div class="bg-slate-500 py-3">
    <div class="flex-container">
        <span class="titlePosition">
            <br>
            <h1 class="text-white textSize px-2">Date & Time <i class="fa-regular fa-calendar-days"></i>  <i class="fa-regular fa-clock"></i></h1>
        </span>
    </div>
</div> -->
<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div class="flex-container">
    <div class="width">
        <div class="inputDateTime">
            <strong >
                GMT:    
            </strong>
            <div>
                <input class="w-full" readonly [(ngModel)]="dateGMT">
            </div>
        </div>
        <br>
        <div class="inputDateTime">
            <strong>
                New York:    
            </strong>
            <div>
                <input class="w-full" readonly [(ngModel)]="dateEST">
            </div>
        </div>
        <div class="inputDateTime">
            <strong>
                India:    
            </strong>
            <div>
                <input class="w-full" readonly [(ngModel)]="dateIST">
            </div>
        </div>
        <div class="inputDateTime">
            <strong>
                Japan:    
            </strong>
            <div>
                <input class="w-full" readonly [(ngModel)]="dateJST">
            </div>
        </div>
        <div class="inputDateTime">
            <strong>
                Moscow:    
            </strong>
            <div>
                <input class="w-full" readonly [(ngModel)]="dateMSK">
            </div>
        </div>
    </div>
    <div>
        <span>
            <button class="dateTimeButton" (click)="getAllTimes()">
                <strong>Get Times</strong>
            </button>
            <button class="dateTimeButtonClear" (click)="clearAllTimes()">
                <strong>Clear Times</strong>
            </button>
        </span>
    </div>

</div>

