.titlePosition{
    margin-left: 10px;
    font-size: larger;
}
.dateTimeButtonBusiness{
    background-color: aquamarine;
    color: black;
}
.dateTimeButtonLight{
    background-color: lightgreen;
    color: black;
}
.dateTimeButtonDark{
    background-color: aquamarine;
    color: black;
}
.textBox {
    width: fit-content;
}
.dateTimeButtonClearBusiness{
    background-color: red;
    color: white;
}
.dateTimeButtonClearLight{
    background-color: lightcoral;
    color: black;
}
.dateTimeButtonClearDark{
    background-color: maroon;
    color: white;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.textSize{
    font-size: xx-large;
}
.width {
    width: 400px;
}
.inputDateTime {
    margin-left: 10px;
    width: 100%;
}
.margin {
    margin-left: 30px;
}
.expansionBusiness{
    background-color: rgb(100 116 139);
    color: white;
}
.expansionLight{
    background-color: lightskyblue;
}
.expansionDark{
    background-color: darkblue;
    color: white;
}
.inputBorder{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}