<!-- <div class="bg-slate-500 py-3">
    <div class="flex-container">
        <span class="pressureTitle">
            <br>
            <h1 class="text-white textSize px-2">Pressure Converter <i class="fa-solid fa-gauge"></i></h1>
        </span>
    </div>
</div> -->
<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div>

    <mat-accordion>
        <mat-expansion-panel (opened)="pressurePanelState = true" (closed)="pressurePanelState = false"
        [class.expansionBusiness]="themeName === 'business'"
        [class.expansionLight]="themeName === 'light'"
        [class.expansionDark]="themeName === 'dark'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        Pressure-converter
                    </strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong>
                        Currently I am {{pressurePanelState ? 'open' : 'closed'}}
                    </strong>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container">
                <div class="width">
                    <div class="inputPressure"> 
                        <label><strong> First unit of pressure: </strong></label>
                    </div>
                    <div class="inputPressure">
                        <select class="w-full inputBorder" name="fromQuantity" id="fromQuantity" [(ngModel)]="firstSystem">
                            <option value="Atmospheres">Atmospheres</option>
                            <option value="Bars">Bars</option>
                        </select>
                    </div>
                    <div class="inputPressure">
                        <label><strong> Second unit of pressure: </strong></label>
                    </div>
                    <div class="inputPressure">
                        <select class="w-full inputBorder" name="toQuantity" id="toQuantity" [(ngModel)]="secondSystem">
                            <option value="Bars">Bars</option>
                            <option value="Atmospheres">Atmospheres</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class="inputPressure">
                            <label><strong>Pressure</strong></label>
                        </div>
                        <div class="inputPressure">
                            <input class="w-full inputBorder" [(ngModel)]="firstValue">
                        </div>
                        <div class="inputPressure">
                            <strong>{{firstSystem}}</strong>
                        </div>
                    </div>
                    <div>
                        <div class="inputPressure">
                            <label><strong>Pressure</strong></label>
                        </div>
                        <div class="inputPressure">
                            <input class="w-full inputBorder" readonly [(ngModel)]="secondValue">
                        </div>
                        <div class="inputPressure">
                            <strong>{{secondSystem}}</strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="inputPressure">
                            <label><strong>Conversion rate: </strong></label>
                        </div>
                        <div class="inputPressure">
                            <input class="w-full inputBorder" readonly [(ngModel)]="displayConversionRate">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>
                            <button (click)="pressureConversion()"
                            [class.buttonPressureBusiness]="themeName === 'business'"
                            [class.buttonPressureLight]="themeName === 'light'"
                            [class.buttonPressureDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>Go</strong>
                            </button>
                            <button (click)="clearPressureClicked()"
                            [class.buttonClearBusiness]="themeName === 'business'"
                            [class.buttonClearLight]="themeName === 'light'"
                            [class.buttonClearDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>Clear</strong>
                            </button>
                        </span>
                    </div>
                    <br>
                    <!-- <div>
                        <span>
                            <button class="buttonShowPressureKey" (click)="pressureShowIcon()"><strong>Show Icons <i *ngIf="showPressureKeyCheck" class="fa-solid fa-check"></i><i *ngIf="!showPressureKeyCheck" class="fa-solid fa-xmark"></i></strong></button>
                        </span>
                    </div> -->
                    <br>
                    <div *ngIf="showPressureKey">
                        <div class="margin">
                            <span class="icon">
                                <app-icon-displayer [iconArray]="displayPlanetEarth" [iconName]="planetEarthIconName" [iconValue]="planetEarthValue" [iconUnit]="planetEarthUnit" [iconFirstAddition]="planetEarthIconFirstAddition" [displayPressureComponent]="displayPressureComponent"></app-icon-displayer>
                            </span>
                        </div>
                    </div>
            
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>


