.bigRedButton{
    color: red;

}
.title{
    font-size: larger;
    
}
.outline{
    border-radius: 5px;
    border-width: 3px;
    border: solid;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: fit-content;

}
.displayBox {
    width: 100%;
}

.title{
    margin-left: 310px;
    font-size: larger;
}
.buttonHistory{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: bisque;
}
.router{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: bisque;
}
.textSize{
    font-size: xx-large;
}
.tabs{
    color: white;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
.expansion{
    background-color: lightgray;
}
.home {
    
}