<!-- <div class="bg-slate-500 py-3">
    <div class="flex-container">
        <span class="temperatureTitle">
            <br>
            <h1 class="text-white textSize px-2">Temperature Converter <i class="fa-solid fa-temperature-three-quarters"></i></h1>
        </span>
    </div>
</div> -->
<app-title-banner [iconName]="iconName" [titleString]="titleString"></app-title-banner>
<br>
<div>


    <mat-accordion>
        <mat-expansion-panel (opened)="temperaturePanelState = true" (closed)="temperaturePanelState = false"
        [class.expansionBusiness]="themeName === 'business'"
        [class.expansionLight]="themeName === 'light'"
        [class.expansionDark]="themeName === 'dark'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>
                        Temperature-converter
                    </strong>
                </mat-panel-title>
                <mat-panel-description>
                    <strong>
                        Currently I am {{temperaturePanelState ? 'open' : 'closed'}}
                    </strong>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-container">
                <div class="width">
                    <div class="inputTemp">
                
                        <label><strong> Starting Temperature: </strong></label>
                    </div>
                    <div class="inputTemp">
                        <select class="w-full inputBorder" name="fromQuantity" id="fromQuantity" [(ngModel)]="fromSystem">
                            <option value="Celcius">Celcius</option>
                            <option value="Fahrenheit">Fahrenheit</option>
                        </select>
                    </div>
                    <div class="inputTemp">
                        <label><strong> Converted Temperature: </strong></label>
                    </div>
                    <div class="inputTemp">
                        <select class="w-full inputBorder" name="toQuantity" id="toQuantity" [(ngModel)]="toSystem">
                            <option value="Fahrenheit">Fahrenheit</option>
                            <option value="Celcius">Celcius</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class="inputTemp">
                            <label><strong>Temperature</strong></label>
                        </div>
                        <div class="inputTemp">
                            <input class="w-full inputBorder" [(ngModel)]="fromValue">
                        </div>
                        <div class="inputTemp">
                            <strong>{{fromSystem}}</strong>
                        </div>
                    </div>
                    <div>
                        <div class="inputTemp">
                            <label><strong>Temperature</strong></label>
                        </div>
                        <div class="inputTemp">
                            <input class="w-full inputBorder" [(ngModel)]="toValue">
                        </div>
                        <div class="inputTemp">
                            <strong>{{toSystem}}</strong>
                        </div>
                    </div>
                    <br>
                    <div>
                        <div class="inputTemp">
                            <label><strong>Conversion rate : </strong></label>
                        </div>
                        <div class="inputTemp">
                            <input class="w-full inputBorder" readonly [(ngModel)]="displayConversionRate">
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <span>
                            <button (click)="temperatureConversion()"
                            [class.buttonTemperatureBusiness]="themeName === 'business'"
                            [class.buttonTemperatureLight]="themeName === 'light'"
                            [class.buttonTemperatureDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'">
                                <strong>Go</strong>
                            </button>
                            <button (click)="clearTemperatureClicked()"
                            [class.buttonClearBusiness]="themeName === 'business'"
                            [class.buttonClearLight]="themeName === 'light'"
                            [class.butoonClearDark]="themeName === 'dark'"
                            [class.button-base]="themeName === 'business' || themeName === 'light' || themeName === 'dark'"><strong>Clear</strong></button>
                        </span>
                    </div>
                    <br>
                    <!-- <div>
                        <span>
                            <button class="buttonShowTempKey" (click)="tempShowIcon()"><strong>Show Icons <i *ngIf="ShowTempKeyCheck" class="fa-solid fa-check"></i><i *ngIf="!ShowTempKeyCheck" class="fa-solid fa-xmark"></i></strong></button>
                        </span>
                    </div> -->
                    <br>
                    <div *ngIf="showTempKey">
                        <div class="margin">
                            <span class="icon">
                                <app-icon-displayer [iconArray]="displayTenDegree" [iconName]="tenDegreeIconName" [iconUnit]="iconUnit" [iconValue]="iconDisplayerValue" [iconFirstAddition]="iconFirstAddition" [displayTemperatureComponent]="displayTemperatureComponent"></app-icon-displayer>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

