<div class="temperatureTitle">
    <h4>Temperature Converter <i class="fa-solid fa-temperature-three-quarters"></i></h4>
</div>
<div>
    <span>

        <label><strong> Starting Temperature: </strong></label>
        <select name="fromQuantity" id="fromQuantity" [(ngModel)]="fromSystem">
            <option value="Celcius">Celcius</option>
            <option value="Fahrenheit">Fahrenheit</option>
        </select>

        <label><strong> Converted Temperature: </strong></label>
        <select name="toQuantity" id="toQuantity" [(ngModel)]="toSystem">
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Celcius">Celcius</option>
        </select>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>Temperature</strong></label>
        <input [(ngModel)]="fromValue">
        <strong>{{fromSystem}}</strong>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>Temperature</strong></label>
        <input [(ngModel)]="toValue">
        <strong>{{toSystem}}</strong>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>Conversion rate : </strong></label>
        <input readonly [(ngModel)]="displayConversionRate">

    </span>
</div>
<div>
    <span>

        <label><strong>Conversion rate for Icons: </strong></label>
        <input readonly [(ngModel)]="displayTenDegreeRate">

        <span>
            <button class="buttonTemperature" (click)="temperatureConversion()"><strong>Go</strong></button>
            <button class="buttonClear" (click)="clearTemperature()"><strong>Clear</strong></button>
        </span>

    </span>
</div>
<div>
    <span>

        <app-icon-displayer [iconArray]="displayTenDegree" [iconName]="tenDegreeIconName" [iconUnit]="iconUnit" [iconValue]="iconValue" [iconFirstAddition]="iconFirstAddition"></app-icon-displayer>

    </span>
</div>
