<div class="bg-slate-500 py-3">
    <div class="flex-container">
        <span class="trigonometryTitle">
            <br>
            <h1 class="text-white textSize px-2">
                Trigonometry
                <i class="fa-solid fa-shapes"></i>
            </h1>
        </span>
    </div>
</div>
<br>
<div class="flex-container">
    <div>
        <div class="inputTrigonometry">
            <strong>Angle: </strong>
            <input  class="w-80" [(ngModel)]="angleInput">
        </div>
        <div class="inputTrigonometry">
            <strong>Hypotenuse: </strong>
            <input class="w-80" [(ngModel)]="hypotenuse">
        </div>
        <div class="inputTrigonometry">
            <strong>Opposite: </strong>
            <input class="w-80" [(ngModel)]="opposite">
        </div>
        <div class="inputTrigonometry">
            <strong>Adjacent: </strong>
            <input class="w-80" [(ngModel)]="adjacent">
        </div>
    </div>
    <div>
        <span>
            <button (click)="trigonometrySin()" class="buttonGo">
                <strong>Go</strong>
            </button>
            <button (click)="clearTrigonometry()" class="buttonClear">
                <strong>Clear</strong>
            </button>
        </span>
    </div>
</div>
<br>
<div class="flex-container">
    <span>
        <button (click)="trigonometrySin()" class="buttonTrigonometry">
            <strong>Sin</strong>
        </button>
        <button (click)="trigonometryCos()" class="buttonTrigonometry">
            <strong>Cos</strong>
        </button>
        <button (click)="trigonometryTan()" class="buttonTrigonometry">
            <strong>Tan</strong>
        </button>
    </span>
</div>


