.energyTitle{

    font-size: larger;
    margin-left: 10px;
}

.buttonEnergy{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: aquamarine;
}
.buttonEnergyClear{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10px;
    background-color: lightcoral;
}
.buttonShowFoodKey {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: bisque;
}
.apples{
    margin-left: 10px;
}
.flex-container {
    display: flex;
}

.textSize{
    font-size: xx-large;
}
.margin {
    margin-left: 40px;
}
.width {
    width: 400px;
}
.inputFood{
    margin-left: 10px;
    width: 100%;
}