.energyTitle{
    font-size: larger;
    margin-left: 10px;
}

.buttonEnergyBusiness{
    background-color: aquamarine;
    color: black;
}
.buttonEnergyLight{
    background-color: lightgreen;
    color: black;
}
.buttonEnergyDark{
    background-color: aquamarine;
    color: black;
}
.buttonEnergyClearBusiness{
    color: white;
    background-color: red;
}
.buttonEnergyClearLight{
    color: black;
    background-color: lightcoral;
}
.buttonEnergyClearDark{
    background-color: maroon;
    color: white;
}
.buttonShowFoodKey {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 40px;
    background-color: bisque;
}
.apples{
    margin-left: 10px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.textSize{
    font-size: xx-large;
}
.margin {
    margin-left: 40px;
}
.width {
    width: 400px;
}
.inputFood{
    margin-left: 10px;
    width: 100%;
}
.expansionBusiness{
    background-color: rgb(100 116 139);
    color: white;
}
.expansionLight{
    background-color: lightskyblue;
}
.expansionDark{
    background-color: darkblue;
    color: white;
}
.inputBorder{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}