<div class="volumeTitle">
    <h4>Volume Converter <i class="fa-solid fa-layer-group"></i></h4>
</div>
<div>
    <span>

        <label for="metricVolumes"><strong> Choose a metric volume: </strong></label>
        <select name="metricVolumes" id="metricVolumes" [(ngModel)]="metricSystem">
            <option value="Milliliters">Milliliters</option>
            <option value="Centiliters">Centiliters</option>
            <option value="Liters">Liters</option>
        </select>

        <label for="americanMeasurements"><strong> Choose an American volume: </strong></label>
        <select name="americanVolumes" id="americanVolumes" [(ngModel)]="americanSystem">
            <option value="Teaspoons">Teaspoons</option>
            <option value="Tablespoons">Tablespoons</option>
            <option value="Ounces">Ounces</option>
        </select>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>Metric </strong></label>
        <input [(ngModel)]="metricValue">
        <strong>{{metricSystem}}</strong>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>American </strong></label>
        <input readonly [(ngModel)]="americanValue">
        <strong>{{americanSystem}}</strong>

    </span>
</div>
<br>
<div>
    <span>

        <label><strong>Conversion rate : </strong></label>
        <input readonly [(ngModel)]="displayConversionRate">
        <span>
            <button class="buttonVolume" (click)="volumeConversion()"><strong>Go</strong></button>
            <button class="buttonVolumeClear" (click)="clearVolumes()"><strong>Clear</strong></button>
        </span>

    </span>
</div>
<div>
    <span>

        <app-icon-displayer [iconArray]="displayLiters" [iconName]="litreIconName"></app-icon-displayer>

    </span>
</div>