.buttonFunction{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: lightskyblue;
}
.button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10%;
    margin-right: 10%;
}
.buttonFunctionEqual{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: aquamarine;
}
.buttonFunctionClear{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: lightcoral;
}
.casio{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
}
.casioImage{
    height: 50px;
    width: 200px;
    
}
.buttonFunctionBackSpace{
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: row;
    background-color: rgb(231, 58, 58);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}